* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(232, 225, 231);
    color: rgb(11, 1, 1);
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgb(117, 114, 120);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: rgb(240, 233, 233);
}

nav ul li a:hover {
    color: rgb(219, 218, 224);
    font-size: 1.02rem;
}

main hr {
    border: 0;
    background: rgb(77, 9, 77);
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
}

.leftSection div {
    font-size: 1.5rem;
    margin: 20px 0;
}

.leftSection .btn {
    padding: 12px;
    background: #9191ae;
    color: 
    rgb(1, 1, 7);
    border: 2px solid rgb(12, 8, 8);
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.rightSection img {
    width: 70%;
}

.purple {
    color: rgb(20, 18, 20);
}

.text-gray {
    color: rgb(8, 2, 2);
}

#element {
    color: purple;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
}

.secondSection h1 {
    font-size: 3rem;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 0px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 0px;
    width: 0px;
    background-color: white;
    margin: 0 100px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 15px;
    width: 500px;
    left: -103px;
    font-size: 29px;
}

.vertical-desc {
    position: relative;
    top: 95px;
    color: rgb(16, 14, 14);
    width: 1000px;
    left: -400px;
    font-size: 20px;

}
.secondSection h2 {
    font-size: 1.9rem;
    margin: 350px 0;
}

.secondSection .box2{
    background: white;
    width: 80vw;
    height: 2px;
    margin: -300px 0;
    display: flex;
}
.vertical-desc2 {
    position: relative;
    top: 125px;
    color: rgb(18, 17, 17);
    width: 1000px;
    left: -400px;
    font-size: 20px;
}

.vertical-title2 {
    position: relative;
    top: 15px;
    width: 500px;
    left: -103px;
    font-size: 29px;
}

footer {
    background-color: rgb(20, 17, 22);
    height: 310px;
}

.footer {
    display: flex;
    margin: 23px 50px;
}

.footer>div {
    width: 223px;
}

.col {
    margin: 23px 50px;
}

.col h2 {
    width: fit-content;
    margin-bottom: 5px;
    position: relative;
}

.col h3 {
    width: fit-content;
    margin-bottom: 5px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
}

ul li {
    list-style: none;
    margin-bottom: 2px;
}

ul li a {
    text-decoration: none;
    color: rgb(222, 215, 215);
}

.col h4 {
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
}

.col h5 {
    width: fit-content;
    margin-bottom: 25px;
    position: relative;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background-color: transparent;
    color: #ccc;
    border: 0;
    outline: no;
}

form button {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid rgb(204, 13, 13);
    margin: 20px auto;
}

.copyright {
    text-align: center;
    color: gray;
}
.imageAboutPage {
    width: 15%;
    margin-bottom: 20px;
    padding: 20px;
}

.about .container{
    color: rgb(11, 11, 159);
    max-width: 1200px; /* Set a maximum width for the container */
    /* margin: 0 auto;    Center the container horizontally */
    padding: 20px;
}

.about .col-lg-8 {
    color: rgb(23, 15, 15);
}

.about .row {
    color: rgb(17, 17, 18);
    display: flex;       /* Use flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    /* align-items: center; */
}

.skills {
    color: rgb(8, 8, 137);
}

.skills .skills-bar {
    color: rgb(20, 16, 16);
} 

.resume{
    color: blue;
}

.resume .btn {
    padding: 8px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.contact form {
	width: 66%;
	margin: 0px auto;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	background: #151313;
	color: #eef0f3;
	border: none;
	font-size: 16px;
}
.contact h2{
    color: rgb(9, 9, 130);
}
.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: #ffbf35;
}
.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
    color: #a1a1a1;
}